{% extends "predictor/base.html" %} {% block body_block %} {% load crispy_forms_tags %}
<style>
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .form-row label {
    width: 30%;
    margin: 0;
  }

  .form-row .form-field {
    width: 70%;
  }

  .form-row input,
  .form-row select {
    width: 100%;
  }

  .center-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .center-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
  }
  .travel-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }
  .travel-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }
  .count-input {
    width: 55px;
    height: 34px;
    margin-top: 6px;
    padding: 4px;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
  }

  .travel-error-text {
  color: red;
  font-size: 1.05rem;
  font-weight: 500;
}


  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<div class="center-wrapper">
  <div class="center-card">
    <h2 class="text-center mb-4">Passenger Portal</h2>

    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}

      <!-- Full Name -->
      <div class="form-row">
        <label>{{ user_form.full_name.label }}</label>

        <div class="form-field" style="width: 20%; margin-right: 10px">
          {{ user_form.title }}
        </div>

        <div class="form-field" style="width: 50%">
          {{ user_form.full_name }}
        </div>
      </div>

      <!-- Age -->

      <div class="form-row">
        <label>{{ user_form.age.label }}</label>
        <div class="form-field">{{ user_form.age }}</div>
      </div>

      <!-- Gender -->
      <div class="form-row">
        <label>{{ user_form.gender.label }}</label>
        <div class="form-field">{{ user_form.gender }}</div>
      </div>

      <!-- Travel Class -->
      <div class="form-row">
        <label>{{ user_form.travel_class.label }}</label>
        <div class="form-field">{{ user_form.travel_class }}</div>
      </div>

      <!-- Travelled with -->
      <div class="form-row">
        <label>Travelled</label>

        <!-- Alone -->
        <div class="travel-option">
          <label>{{ user_form.is_alone }} Alone</label>
        </div>

        <!-- With parents -->
        <div class="travel-option">
          <label>{{ user_form.with_parents }} With parents</label>
          {{ user_form.parents_count }}
        </div>

        <!-- With spouse -->
        <div class="travel-option">
          <label>{{ user_form.with_spouse }} With spouse</label>
          {{ user_form.spouse_count }}
        </div>

        <!-- With children -->
        <div class="travel-option">
          <label>{{ user_form.with_children }} With children</label>
          {{ user_form.children_count }}
        </div>

        <!-- With siblings -->
        <div class="travel-option">
          <label>{{ user_form.with_siblings }} With siblings</label>
          {{ user_form.siblings_count }}
        </div>
      </div>
      <div class="travel-error-box" style="min-height: 30px; margin-bottom: 8px;">
        {% if user_form.non_field_errors %}
        <div style="color: red; font-size: 1rem; font-weight: 500">
          {{ user_form.non_field_errors }}
        </div>
        {% endif %}
      </div>

      <div class="text-center" style="margin-top: 25px">
        <button
          class="btn btn-primary btn-block"
          style="width: 100%"
          type="submit"
        >
          Predict Survival
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const alone = document.getElementById("id_is_alone");
    const with_parents = document.getElementById("id_with_parents");
    const parents_count = document.getElementById("id_parents_count");
    const with_spouse = document.getElementById("id_with_spouse");
    const spouse_count = document.getElementById("id_spouse_count");
    const with_siblings = document.getElementById("id_with_siblings");
    const siblings_count = document.getElementById("id_siblings_count");
    const with_children = document.getElementById("id_with_children");
    const children_count = document.getElementById("id_children_count");

    const others = [
      document.getElementById("id_with_parents"),
      document.getElementById("id_with_spouse"),
      document.getElementById("id_with_children"),
      document.getElementById("id_with_siblings"),
    ];
    const other_count = [
      document.getElementById("id_parents_count"),
      document.getElementById("id_spouse_count"),
      document.getElementById("id_children_count"),
      document.getElementById("id_siblings_count"),
    ];

    other_count.forEach((cb) => (cb.disabled = true));
    alone.addEventListener("change", function () {
      if (alone.checked) {
        others.forEach((cb) => {
          cb.checked = false;
          cb.disabled = true;
        });
        other_count.forEach((i) => {
          i.disabled = true;
          i.value = "";
        });
      } else {
        others.forEach((cb) => (cb.disabled = false));
        other_count.forEach((cb) => (cb.disabled = true));
      }
    });

    with_parents.addEventListener("change", function () {
      if (with_parents.checked) {
        parents_count.disabled = false;
        parents_count.required = true;
      } else {
        parents_count.disabled = true;
        parents_count.value = "";
        parents_count.required = false;
      }
    });

    with_siblings.addEventListener("change", function () {
      if (with_siblings.checked) {
        siblings_count.disabled = false;
        siblings_count.required = true;
      } else {
        siblings_count.disabled = true;
        siblings_count.value = "";
        siblings_count.required = false;
      }
    });

    with_spouse.addEventListener("change", function () {
      if (with_spouse.checked) {
        spouse_count.disabled = false;
        spouse_count.required = true;
      } else {
        spouse_count.disabled = true;
        spouse_count.value = "";
        spouse_count.required = false;
      }
    });

    with_children.addEventListener("change", function () {
      if (with_children.checked) {
        children_count.disabled = false;
        children_count.required = true;
      } else {
        children_count.disabled = true;
        children_count.value = "";
        children_count.required = false;
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const errorBox = document.querySelector(".travel-error-box");

    const checkboxes = [
      document.getElementById("id_is_alone"),
      document.getElementById("id_with_parents"),
      document.getElementById("id_with_spouse"),
      document.getElementById("id_with_children"),
      document.getElementById("id_with_siblings"),
    ];

    function hideErrorIfChecked() {
      const anyChecked = checkboxes.some((cb) => cb.checked);
      if (anyChecked && errorBox) {
        errorBox.style.visibility = "hidden";
      }
    }

    checkboxes.forEach((cb) => {
      cb.addEventListener("change", hideErrorIfChecked);
    });
  });
</script>

{% endblock %}
